.display {
  background-color: #ffe4e1;
  color: #666;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
	width: 263px;
  font-size: 1.5em;
  font-weight: bold;
	text-align: center;
}
