.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
  background-color: #ffe4e1;
  color: #666;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
	width: 263px;
  font-size: 1.5em;
  font-weight: bold;
	text-align: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  gap: 5px;

}

.cell {
  background-color: #f8bbd0;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cell:hover {
  background-color: #e699ac;
}

.reset {
  background-color: #ff7b69;
  color: #373737;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
	width: 300px;
  font-size: 1.5em;
  font-weight: bold;
	text-align: center;
	border: none;
	font-family: inherit;
	margin-top: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;

}

.reset:hover{
	background-color: #ff6753;
}
